.card {
  width: 20%;
  /* background-color: #e52b2b; */
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(128, 128, 128, 0.762);
  cursor: pointer;
}
.img {
  display: block;
  margin: 0 auto; /* centers horizontally */
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.imgBox {
  width: 100%;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;
}
.title {
  padding: 10px 15px;
  font-size: 16px;
}
