*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body,#root{
  width: 100%;
  min-height: 100vh;
  background-color: #FDFDFC;
  display: flex;
  flex-direction: column;
}
/* .main{
  display: flex;
  
} */